/code/javaparser-starter/target/classes/fr/istic/vv/*.class
/.idea/*
/code/javaparser-starter/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/code/javaparser-starter/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
